<!DOCTYPE html>
<html>
<head>
    <title>Oops!</title>
</head>
<body>

    <h2>There appears to have been a problem handling your request!</h2>
    <h3>It will soon be solved</h3>
</body>
</html>


@*@{
    ViewData["Title"] = "Error";
}

<h2>Error</h2>

<p>Something happend with the request</p>*@
